<h2>Applications</h2>
<table class="table table-sm">
  <thead>
    <tr>
      <th>
        Job
      </th>
      <th>
        Skills
      </th>
      <th class="text-right">
        Match %
      </th>
      <th class="text-center">
        Scheduled?
      </th>
      <th class="text-center">
        Recruiter
      </th>
      <th class="text-right">
        Recruiter Match %
      </th>
      <th class="text-right">
        Appointment Schedule
      </th>
    </tr>
  </thead>

  <tbody>
    <%= render(Applicants::Applications::TableRowComponent.with_collection(@applicant.applications)) %>
  </tbody>
</table>
